header {
    background-image: url(../../assets/home-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 755px;
}

.logo {
    @include color(marigold);
    font-size: map-get($font-sizes, logo) * 0.75;
}

.header-nav ul {
    @include horizontal-list;
    li {
        padding: 10px;
        a {
            @include color(white);
            text-decoration: none;
        }
    }
}