// ==================================================
// $index.html
// ==================================================
header {
    background-image: url(../../assets/home-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    position: relative;
}

.nav-wrapper {
    // width: calc(100% - 40px);
    // margin: 0 auto;
    @include mobile-wrapper;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    color: color(marigold);
    font-size: font-size(logo) * 0.75;
}

.menu-button {
    background: transparent;
    border: none;
    position: relative;
    z-index: 3;
    .hamburger {
        color: color(ice-blue);
    }
}

.header-nav ul {
    @include reset-list;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: color(marigold);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    
    li {
        padding: 5px 0;
        width: 100%;
        text-align: center;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            color: color(ice-blue);
            text-decoration: none;
            text-transform: uppercase;
            font-weight: font-weight(bold);

            
        }
    }
}

.welcome {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    h1 {
        display: flex;
        flex-direction: column;
        color: color(marigold);
        font-size: font-size(mindnsoul) * 0.5;
        span {
            font-size: 2rem;
            font-weight: font-weight(light);
            color: color(ice-blue);
            font-family: font-family(primary);
            letter-spacing: 5px;
        }
    }
}

.welcome-wrapper {
    // width: calc(100% - 40px);
    // margin: 0 auto;
    @include mobile-wrapper;
    position: absolute;
    bottom: -150px;
    left: 20px;
}
.welcome-image {
    width: 100%;
    max-width: 700px;
}


// ==================================================
// $blog.html
// ==================================================
.header-blog {
    background-image: url(../../assets/blog-image-1.jpg);
    position: relative;
    z-index: 0;
}


// ==================================================
// $contact.html
// ==================================================
.header-contact {
    background-image: url(../../assets/contact-image-1.jpg);
}