header {
    background-image: url(../../assets/home-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 755px;
}

.logo {
    color: #FFC600;
    // font-size: 4.15rem;
}

.header-nav ul {
    @include horizontal-list;
    li {
        padding: 10px;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}