// ==================================================
// $New Adventure Section
// ==================================================
.new-adventure {
    background: color(camo-green);
    padding-top: 230px;
    padding-bottom: 60px
}

.new-adventure-wrapper {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.new-adventure-content {
    margin-bottom: 80px;
    h2 {
        color: color(marigold);

        // mixin / dry
        font-size: font-size(group) * 0.75;
        line-height: 5.8rem;
        letter-spacing: 4.9px
    }
    p {
        // mixin / dry
        color: color(ice-blue);
        line-height: 3.2rem;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    a {
        // mixin / dry
        font-family: font-family(secondary);
        color: color(ice-blue);
        background: color(mud-green);
        text-decoration: none;
        padding: 10px;
        display: inline-block;
    }

}

.new-adventure-image {
    background: color(mud-green);
    position: relative;
    height: 304px;
    width: 304px;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20px;
        left: 20px;
        display: block;
    }    
}