@mixin reset {
    padding: 0;
    margin: 0;
}

@mixin reset-list {
    @include reset;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;
    display: flex;
}

@mixin mobile-wrapper {
    width: calc(100% - 40px);
    margin: 0 auto;
}