html, body, p, h1, h2, h3, h4, h5, h6, nav, ul, li, a, section, div, main, aside, span, footer, button, form, input {
    @include reset;
}

html {
    font-size: $html-default;
    font-family: $main-font;
    font-weight: 400;
  }

body {
    font-size: $min-font-size;
  }

h1, h2, h3, h4, h5, h6 {
    // font-family: $secondary-font;
}

.mobile-wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}