html, body, p, h1, h2, h3, h4, h5, h6, nav, ul, li, a, section, div, main, aside, span, footer, button, form, input {
    @include reset;
}

html {
    @include font-family(primary);
    @include font-size(html-default);
    @include font-weight(regular);
  }

h1, h2, h3, h4, h5, h6 {
    @include font-family(secondary);
    @include font-weight(regular);
}

body {
    font-size: font-size(body) * 0.75;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.h-style-one { // Heading Header (Mindn'Soul)

}

.h-style-two { // (Blog, Get in touch)
    font-size: font-size(blog) * 0.75;
    line-height: 6.96rem;
    letter-spacing: 10.9px;
    color: color(marigold);
}
.h-style-three { // (Group Programs, New..., Free..., Come Dis...,)
    color: color(marigold);
    font-size: font-size(group) * 0.75;
    line-height: 5.8rem;
    letter-spacing: 4.9px;
}

.h-style-four { // Logo (Mindn'Soul)

}

.h-style-five { // Heading (Customized offers, community, blog..)

}

.navigation-style {

}

.body-text {
        color: color(ice-blue);
        line-height: 3.2rem;
        letter-spacing: 2px;
}

.form-placeholder {
    font-family: font-family(primary);
    font-weight: font-weight(light);
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 2px;
}

.link {
        font-family: font-family(secondary);
        color: color(ice-blue);
        background: color(mud-green);
        text-decoration: none;
        padding: 10px;
        display: inline-block;
        font-size: 2.5rem;

        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        -webkit-transition-duration: .25s;
        transition-duration: .25s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
}

.link:hover {
    background: #788503;
}

.info-one-wrapper div {

    h2 {
        font-size: font-size(customized) * 0.65;
        color: color(marigold); // dry
        line-height: 5.8rem;
        letter-spacing: 4.3px;
    }
}


.info-two-row-one, .info-two-row-two{
    div {
        h2 {
            color: color(marigold);
            font-size: font-size(group) * 0.75;
            line-height: 5.8rem;
            letter-spacing: 4.9px;
        }
    }
}