// ==================================================
// $Variables
// ==================================================
// Supports 
// @media min-width
// @media max-width
// @media min-width and max-width

$viewport-increment: 1px; // customize to suite

// Desktop
$desktop: 1200px; // customize to suite
$pre-desktop: $desktop - $viewport-increment;

// Tablet
$tablet: 768px; // customize to suite
$pre-tablet: $tablet - $viewport-increment;

// Palm
$palm: 640px; // customize to suite
$post-palm: $palm + $viewport-increment;

// Constraints
$min: min-width;
$max: max-width;


// ==================================================
// $Media Query @Mixin
// ==================================================

@mixin mediaQuery($constraint, $viewport1, $viewport2: null) {

  @if $constraint == $min {

    @media screen and ($min: $viewport1) {
      @content;
    }

  } @else if $constraint == $max {

    @media screen and ($max: $viewport1) {
      @content;
    }

  } @else {

    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }

  }

}

// ==================================================
// The Implementation!
// ==================================================


  @include mediaQuery($min, $palm) { // min 640px
    

    header {
      height: 755px;
    }

    .welcome {
      h1 {
        font-size: font-size(mindnsoul) * 0.875;
      }
    }

    body {
      font-size: font-size(body) * 0.875;
    }
    
    .logo {
      font-size: font-size(logo) * 0.875;
    }

    .new-adventure-content {
      h2 {
        font-size: font-size(group) * 0.875;
      }
    }
    .gallery-wrapper {
      justify-content: space-between;
      img {
        width: calc(33% - 10px);
        // max-width: 400px;
          &:nth-child(1), &:nth-child(2) {
            margin-bottom: unset;
          }
      }
    }
    .info-one-wrapper div {
      h2 {
          display: flex;
          align-items: center;
          font-size: font-size(customized) * 0.875;
      }
    }

    .info-two--image-one, .info-two--image-two  {
      width: 640px;
      height: 380px;
      img {
        width: 640px;
        height: 400px;
      }
    }

    .info-two--image-two {
      margin-bottom: -40px;
    }

    .info-two-row-one, .info-two-row-two{
      div {
          h2 {
              font-size: font-size(group) * 0.875;
          }
      }

      .h-style-two { // (Blog, Get in touch)
        font-size: font-size(blog) * 0.875;
      }

      .h-style-three {
        font-size: font-size(group) * 0.875;
      }
      
  }

  
  // ==================================================
  // $blog.html
  // ==================================================
  .header-blog {
    height: 578px;
  }

  .blog-wrapper {
    width: calc(100% - 250px);
  }
  .post-image-container {  
    width: 640px;
    height: 419px;
    img {
        width: 640px;
        height: 419px;
    }
  }
      

  }

  @include mediaQuery(null, $post-palm, $pre-tablet) {  // 641px - 767px
    

    
  }
 
  @include mediaQuery($min, $tablet) { // min 768px
    .wrapper {
      // width: calc(100% - 40px);
      // margin: 0 auto;
      @include mobile-wrapper;
      max-width: 1600px;
    }
    body {
      font-size: font-size(body);
    }
    
    .nav-wrapper {
      width: 90%;
    }

    .logo {
      font-size: font-size(logo);
    }
    .header-nav {
      width: 50%;
      max-width: 450px;
    }
    .header-nav ul {
      flex-direction: unset;
      background-color: unset;
      position: unset;
      width: unset;
      height: unset;
      justify-content: space-between;
      li {
        padding: unset;
        width: unset;
        text-align: unset;
        a {
          display: unset;
          height: unset;
          &:hover {
            color: color(marigold);
          }
        }
      }
    }

    .welcome-wrapper {
      width: 100%;
      margin: 0 auto;
      left: 0;
  }

    .welcome {
      h1 {
        font-size: font-size(mindnsoul);
        span {
            font-size: font-size(group);
        }
      }
    }

    .welcome-image {
      margin-right: 40px;
    }

    .new-adventure-content {
      h2 {
        font-size: font-size(group);
      }
    }
    .info-one-wrapper div {
      h2 {
          display: flex;
          align-items: center;
          font-size: font-size(customized);
      }
    }

    .info-one-wrapper div {
      p {
         width: calc(100% - 72px);
        margin-left: 72px;
      }
    }
    .info-two-row-one, .info-two-row-two{
      div {
          h2 {
              font-size: font-size(group);
          }
      }
  }

  .info-two--image-two {
    margin-bottom: -80px;
  }

  .h-style-two { // (Blog, Get in touch)
    font-size: font-size(blog);
  }

  .h-style-three {
    font-size: font-size(group);
  }

  .comments-form {
    justify-content: space-between;
  }
  .name-input, .email-input {
    flex-basis: calc(50% - 20px);
    margin-bottom: 40px;  
  }

  }
  
  @include mediaQuery($min, $desktop) { // min 1200px
    .nav-wrapper, .new-adventure-wrapper, .gallery-wrapper, .info-one-wrapper{
      width: calc(100% - 250px);
    }

    .new-adventure {
      padding-bottom: 120px;
    }

    .new-adventure-wrapper {
      justify-content: space-between;
    }

    .new-adventure-content {
      width: calc(75% - 80px);
      margin-bottom: unset;
      a {
        padding: 10px;
      }
    }
    
    .gallery-wrapper {
      img {
        width: calc(33% - 20px);
      }
    }

    .info-one-wrapper {
      display: flex;
      flex-wrap: wrap;
      div {
        width: calc(50% - 20px);
        &:nth-child(3) {
          padding-bottom: unset;
        }
      }
    }
    .info-one--community > p:nth-child(2), .info-one--get-in-touch > p:nth-child(2) {
        width: calc(100% - 32px);
    }

    .info-two-row-one {
      // width: calc(100% - 125px);
      flex-direction: unset;
      justify-content: space-between;
      margin-bottom: 60px;
      div {
          &:nth-child(2) { //dry
              width: calc(50% - 250px);
              margin-right: 125px;
              display: unset;
              flex-direction: column;
              justify-content: center;
          }
      }
  }  

  .info-two-row-two {
    // width: calc(100% - 125px);
    display: flex;
    flex-direction: row;
    align-items: unset;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
        &:nth-child(1) { //dry 
            width: calc(50% - 250px);
            margin-left: 125px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
        }
    }
}
.info-two--new-locations > a:nth-child(3) {
  width: 108px;
  align-self: end;
}

.info-two--group-programs {
  display: unset;
}

    .info-two--image-one, .info-two--image-two  {
      width: 670px;
      height: 400px;
      img {
        width: 670px;
        height: 419px;
      }
    }

    .info-two--image-two {
      margin-top: unset;
    }

    .free-trials {
      padding: 160px 0;
    }

    .free-trials-wrapper {
      width: calc(100% - 400px);
    }

    // ==================================================
    // $blog.html
    // ==================================================
    .cad-flx-item {
      width: 1006px;
    }
    .come-and-discover {
      width: 1006px;
      border-right: 4px solid color(mud-green);
      border-bottom: 4px solid color(mud-green);
      margin-bottom: 40px;
      padding-bottom: unset;
    }

      .post-image-container {  
      width: 986px;
      height: 646px;
      img {
          width: 986px;
          height: 646px;
      }
    }

    .cad-content-wrapper {
      padding-top: 60px;
      width: calc(100% - 250px);
      margin: 0 auto;
    }

    .comments {
      width: calc(100% - 250px);
    }

    .commenter {
      justify-content: space-between;
    }
    .commenter-content {
      flex-basis: 620px;
    }

  }