// ==================================================
// $Variables
// ==================================================
// Supports 
// @media min-width
// @media max-width
// @media min-width and max-width

$viewport-increment: 1px; // customize to suite

// Desktop
$desktop: 1200px; // customize to suite
$pre-desktop: $desktop - $viewport-increment;

// Tablet
$tablet: 768px; // customize to suite
$pre-tablet: $tablet - $viewport-increment;

// Palm
$palm: 640px; // customize to suite
$post-palm: $palm + $viewport-increment;

// Constraints
$min: min-width;
$max: max-width;


// ==================================================
// $Media Query @Mixin
// ==================================================

@mixin mediaQuery($constraint, $viewport1, $viewport2: null) {

  @if $constraint == $min {

    @media screen and ($min: $viewport1) {
      @content;
    }

  } @else if $constraint == $max {

    @media screen and ($max: $viewport1) {
      @content;
    }

  } @else {

    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }

  }

}

// ==================================================
// $Project Two Queries
// ==================================================

@media ($min: $palm) { // min 640px
  header {
    height: 755px;
  }
}

// ==================================================
// The Implementation!
// ==================================================


  @include mediaQuery($max, $palm) { // max 640px
    
  }

  @include mediaQuery(null, $post-palm, $pre-tablet) {  // 641px - 767px
    body {
      font-size: font-size(body) * 0.875;
    }
    .logo {
      font-size: font-size(logo) * 0.875;
    }

    
  }
 
  @include mediaQuery($min, $tablet) { // min 768px
    .wrapper {
      width: calc(100% - 40px);
      max-width: 1600px;
      margin: 0 auto;
    }
    body {
      font-size: font-size(body);
    }
    
    .nav-wrapper {
      width: 90%;
    }

    .logo {
      font-size: font-size(logo);
    }
    .header-nav {
      width: 50%;
      max-width: 450px;
    }
    .header-nav ul {
      flex-direction: unset;
      background-color: unset;
      position: unset;
      width: unset;
      height: unset;
      justify-content: space-between;
      li {
        padding: unset;
        width: unset;
        text-align: unset;
        a {
          display: unset;
          height: unset;
          &:hover {
            color: color(marigold);
          }
        }
      }
    }

  }
  
  @include mediaQuery($min, $desktop) { // min 1200px
    .nav-wrapper {
      width: calc(100% - 250px);
    }
    
  }