// Colors
$colors: (
    ice-blue: #FAFFFE,
    charcoal: #262725,
    marigold: #FFC600,
    mud-green: #555F02,
    camo-green: #1E140E,
    white: #FFF
);
@mixin color($color-name) {
    color: map-get($colors, $color-name);
};

// Font Sizes
$font-sizes: (
    html-default: 62.5%,
    mindnsoul: 11.5rem,
    blog: 10.5rem,
    group: 4.5rem,
    logo: 4.15rem,
    customized: 4rem,
    navigation: 2rem,
    body: 2rem,
    form-placeholder: 2rem,
);
@mixin font-size($type) {
    font-size: map-get($font-sizes, $type);
};

// Font Family
$font-families: (
    primary: ('Lato', sans-serif),
    secondary: ('Dokdo', cursive)
);
@mixin font-family($type) {
    font-family: map-get($font-families, $type);
};

// Font Weights
$font-weights: (
    light: 300,
    regular: 400,
    bold: 700
);
@mixin font-weight($weight) {
    font-weight: map-get($font-weights, $weight);
};