// Color palette
$ice-blue: #FAFFFE;
$charcoal: #262725;
$marigold: #FFC600;
$mud-green: #555F02;
$camo-green: #1E140E;


// Text Style
$h1-font-size: 11.5rem;
$main-font: 'Dokdo', cursive;
$secondary-font: 'Lato', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

// General
$html-default: 62.5%;
$min-font-size: 1.6rem;
$max-font-size: 2rem;



